<!DOCTYPE html>
<html lang="es">
	<head>
		<title>LifeStyle</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet"  href="../static/css/reset.css">
		<link rel="stylesheet"  href="../static/css/lifestyle.css">
	</head>
<body>

	<header class="yo">
		<div class="contenedor-cabecera ">
			<h1 class="logo centro ">LIFESTYLE</h1>
			<div class="principal">
				<h2 class="free centro">Free PSD Website Template</h2>
				<nav class="MainMenu">		  
						<ul class="MainMenu-list centro">
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">STYLEDEMO</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">FULLWIDTH</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#trabajos">DROPDOWN</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">PORTAFOLIO</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">GALLERY</a>
							</li>		
						</ul>
				</nav>
			</div>
		</div>
			<figure class="Work-imageContainer-grande">
					<a href="#"><img class="Work-image2" src="../static/images/foto1.jpg" alt="Es la descripcion de mi imagen" /></a>
			</figure>	
	</header>

	<section class="ancho1">
	<div class="contenedor-segundo">
		<div class="ancho">
		<h2 class="text centro">Curabitur nulla tellus tor ames a in curabitur
			pede Idet mollisi eros dis orci congue elis et.
		</h2>
		<div class="bottom centro">
			<a class="bottom-primero" href="#bottom">CONTACT US TODAY </a>		
		</div>
		</div>	
	</div>
	</div>
	</section>	


	<section id="diseños" class="contenedor-tercero  ">
	
		<div class="contenedor-fotos ">
			<ul class="work-list">
				<li class="Work-item">
					<figure class="Work-imageContainer centro">
						<a href="#"><img class="Work-image3" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
					<p class="service centro">Service 1</p>
							
				</li>

				<li class="Work-item">
					<figure class="Work-imageContainer centro">
						<a href="#"><img class="Work-image3" src="../static/images/foto3.jpg" alt="Es la descripcion de mi imagen"></a>
					</figure>	
					<p class="service centro">Service 2</p>	
				</li>	

				<li class="Work-item">
					<figure class="Work-imageContainer centro">
						<a href="#"><img class="Work-image3" src="../static/images/foto4.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
					<p class="service centro">Service 3</p>
				</li>

			</ul>
		</div>			
			
	</section>

	<section id="diseños" class="contenedor-cuarto ">
		<h1 class="titulo2 centro"> Indonectetus facilis </h1>
		<div class="contenedor-fotos2 ">
			<ul class="work-list2">
				<li class="Work-item2">
					<figure class="Work-imageContainer2 centro">
						<a href="#"><img class="Work-image4" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
					<div class="rectangulo">
					<p class="service2 centro">Image Name or Title</p>
					</div>
							
				</li>

				<li class="Work-item2">
					<figure class="Work-imageContainer2 centro">
						<a href="#"><img class="Work-image4" src="../static/images/foto3.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
					<div class="rectangulo">
					<p class="service2 centro">Image Name or Title</p>
					</div>
							
				</li>

				<li class="Work-item2">
					<figure class="Work-imageContainer2 centro">
						<a href="#"><img class="Work-image4" src="../static/images/foto4.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
					<div class="rectangulo">
					<p class="service2 centro">Image Name or Title</p>
					</div>
							
				</li>

			</ul>
		</div>			
			
	</section>

	<section class="contacto">
					<header>
						<h1 class="title-form centro">Grab Our Newsletter</h1>
					</header>
						
						<form class="footer-form centro" action="../contacto/envio.php" method="post">
							<input name="Name" class="Footer-formInput" type="text" placeholder="Nombre"/>
							<input name="Email" class="Footer-formInput" type="email" placeholder="Email"/>
							<button class="Footer-buttom" type="submit">SUBMIT</button>
						</form>	
						
						
	</section>
			
			<footer id="contacto" class="finalizando">					
					<p class="pie-final">&copy;Copyright2018-All Rights Reserved - Domain Name</p>
			</footer>




























	
			<footer id="contacto" class="footer">					
				
			</footer>

</body>			
</html>