<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Aires de Tinta</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet"  href="../static/css/reset.css">
		<link rel="stylesheet"  href="../static/css/airesdetinta.css">
	</head>
<body>

	<header class="yo">
		<div class="contenedor-cabecera centrar">
			<h1 class="logo ">LIFESTYLE</h1>
			<div class="principal">
				<h2 class="free">Free PSD Website Template</h2>
				<nav class="MainMenu">		  
						<ul class="MainMenu-list">
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">STYLEDEMO</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">FULLWIDTH</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#trabajos">DROPDOWN</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">PORTAFOLIO</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#">GALLERY</a>
							</li>		
						</ul>
				</nav>
			</div>
		</div>
			<figure class="Work-imageContainer">
					<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen" /></a>
			</figure>	
	</header>

	<div class="contenedor-segundo centrar">
		<h2 class="text">CURABITUR NULLA TELLUS TOR AMES A IN CURABITUR
			PEDE. iDET MOLLISI EROS DIS ORCI CONGUE ELIS ET.
		</h2>
		<div class="bottom">
			<a class="bottom-primero" href="#bottom">CONTACT US TODAY></a>		
		</div>	
	</div>	
	<section id="diseños" class="contenedor-tercero centrar">
	
		<div class="contenedor-fotos centrar">
			<ul class="work-list">
				<li class="Work-item">
					<figure class="Work-imageContainer">
						<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
					<p class="service">Service 1</p>
							
				</li>

				<li class="Work-item">
					<figure class="Work-imageContainer">
						<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen"></a>
					</figure>	
					<p class="service">Service 2</p>	
				</li>	

				<li class="Work-item">
					<figure class="Work-imageContainer">
						<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen" /></a>
					</figure>
					<p class="service">Service 3</p>
				</li>

			</ul>
		</div>			
			
	</section>



























	
			<footer id="contacto" class="footer">					
				
			</footer>

</body>			
</html>